@charset "UTF-8";
body
{
    line-height: 1.3em;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #23272A;
    color: white;
    width:1000px;
    margin-right: auto;
    margin-left : auto;
    text-align: justify;
}
.title
{
    text-align: center;
}
.fixed_btn
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 6px 40px;
}
div
{
    background-color: #2c2f33;
    padding: 1em;
}
a
{
    color: white;
}
